.button {
  position: relative;
  width: 6.5rem;
  height: 6.5rem;

  border: none;
  background: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse {
  width: 100%;
  height: 100%;
  display: block;
}
.polygon {
  position: absolute;
  width: 0.6rem;

  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
}
