.header {
  width: 100%;
}

.headerContainer {
  max-width: 75rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1.5rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.logo {
  width: 0.825rem;
  height: 0.825rem;
  background-color: #3b82f6;
  border-radius: 50%;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  font-size: clamp(0.85rem, 1vw, 0.95rem);
  color: #6b7280;
  text-decoration: none;
}

.nav a:hover {
  color: #111827;
}
.active {
  color: #3b82f6;
  font-weight: 500;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials img {
  width: 1rem;
  height: 1rem;
  opacity: 0.6;
  cursor: pointer;
}

.socials img:hover {
  opacity: 1;
}

.button {
  padding: 0.6rem 1.2rem;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.button:hover {
  background-color: #2563eb;
}

/* ========================= */
/* ====== TABLET ====== */
/* ========================= */

@media (max-width: 64em) {
  .nav {
    display: none;
  }
}

/* ========================= */
/* ====== MOBILE ====== */
/* ========================= */

@media (max-width: 48em) {
  .container {
    padding: 1rem 1.25rem;
  }

  .socials {
    display: none;
  }

  .button {
    padding: 0.5rem 1rem;
  }
}
