.logos {
  width: 100%;
  padding: 3rem 0;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.container img {
  height: 1.5rem;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.container img:hover {
  opacity: 1;
}

/* tablet */
@media (max-width: 64em) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* mobile */
@media (max-width: 48em) {
  .container {
    gap: 1.5rem;
  }

  .container img {
    height: 1.25rem;
  }
}
